{% extends "base.html" %} {% load static %} {% block content %}
<h2>Question:</h2>
<p>{{ question.question_text }}</p>
{% if question.question_image %}
<img src="{{ question.question_image.url }}" />
{% endif %} {% if form.errors %}
<div>{% for k, error in form.errors.items %} {{ error }} {% endfor %}</div>
{% endif %} {% include 'form.html' with submit_label="Submit answer" %}
<p class="question-id">
  This is question ID {{ question.pk }}. 
  You have completed {{ test_attempt.questions_answered }} 
  questions out of {{ test_attempt.total_questions }}.
  <progress
    value="{{ test_attempt.questions_answered }}"
    max="{{ test_attempt.total_questions }}"
  />
</p>
{% endblock %}
