{% extends "base.html" %}

{% block content %}
    <h1>Test group: {{ test_group.group_name }}</h1>
    <p>We've selected your questions, and you're ready to start testing your group!</p>
    <p>Share this URL with anyone that should take the test:</p>
    <article>
        {{ request.scheme }}://{{ request.get_host }}{% url 'test_group_take' group_token=test_group.token_test_taker %}
    </article>
    <hr/>
    <p>Share this URL with anyone that should see participant's results (this page):</p>
    <article>
        {{ request.scheme }}://{{ request.get_host }}{% url 'test_group_owner' token=test_group.token_owner %}
    </article>

    <h2>Results</h2>
    <table>
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for attempt in test_group.completed_attempts %}
            <tr>
                <th scope="row">
                    <a href="{% url 'test_group_owner_attempt' token=attempt.token %}">
                        {{ attempt.participant_name }}
                    </a>
                </th>
                <td>{{ attempt.correct_percentage }}% ({{ attempt.final_correct }} / {{ attempt.final_answered }})</td>
                <td>{{ attempt.modified }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Nobody in your group has taken the test yet.</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <h2>Questions selected for your group</h2>
    <ul>
        {% for question in test_group.questions.all %}
            <li>{{ question.question_text }} <span class="question-id">(ID {{ question.pk }})</span></li>
        {% endfor %}
    </ul>
{% endblock %}
